.slick-dots.slick-thumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .slick-dots.slick-thumb li {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 999px;
    transition: all 0.5s ease-in-out;
    will-change: width;
    background-color: var(--color-grey);
  }
  
  .slick-dots.slick-thumb li.slick-active {
    background-color: red;
    width: 24px;
  }

  .btn-prv {
    left: -25px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: white;
    z-index: 99;
  }

  .btn-nxt {
    right: -25px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: white;
    z-index: 99;
  }

  .btn-prv::before {
    content: '';
    left: 50px;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: white;
    z-index: 99;
  }

  .btn-prv::after {
    content: '';
    left: -25px;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: red;
    z-index: 99;
  }

  .btn-nxt::before {
    content: '';
    right: 50px;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: white;
    z-index: 99;
  }

  .btn-nxt::after {
    content: '';
    right: -25px;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: red;
    z-index: 99;
  }