.cars-item_wrapper-view2 {
  height: auto;
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.mka__cars-item_image-container-view2 {
  position: relative;
  max-width: 240px;
  max-height: 240px;
}

.mka__cars-item_image-view2 {
  max-width: 100%;
  height: auto;
}

.mka__cars-item_car-text-view2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-var(--color-red));
  text-align: left;
  margin-bottom: 20px;
}

.mka__cars-item_wrapper-view2:hover .mka__card-overlay-content {
  bottom: 0;
  height: 100%;
  width: auto;
}

.mka__cars-item_wrapper-view2:hover .cars-item_separator::before {
  background: var(--color-red);
  width: 50px;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.mka__cars-item_wrapper-view2:hover .mka__cars-item_image-view2 {
  opacity: 0.7;
}

.mka__cars-item_details-view2 {
  display: flex;
  gap: 40px;
}

.mka__cars-item-car-title__price-view2 {
  display: flex;
  flex-direction: column;
}

.mka__cars-item-car-title__price-view2 h5 {
  font-weight: 500;
  /* text-transform: uppercase; */
  color: var(--color-grey);
  margin-bottom: 20px;
  display: block;
  text-align: left;
  line-height: 25px;
}

.mka__cars-item-car-title__price-view2:hover h5 {
  color: var(--color-var);
  transition: color 0.8s ease;
}

.mka__cars-item_short-divider {
  width: 40px;
  height: 2px;
  background-color: var(--color-red);
  margin-bottom: 20px;
}

.mka__cars-item_details-preview--view2 {
  background-color: transparent;
  border: 1px solid var(--color-white);
  padding: 5px 10px;
}

.mka__cars-item_details-preview--view2 p {
  font-size: 14px;
  display: flex;
  align-self: center;
  gap: 2px;
}

.mka__cars-item_details-preview--view2 p svg {
  margin-top: 3.5px;
}

.mka__car-item_details-preview--container_view2 {
  display: flex;
  /* width: 60vh; */
  justify-content: space-between;
  flex-wrap: nowrap;
}

.mka__car-item_details-preview--grouped_view2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Rijesiti se CSSa dugmeta */
.btn-view2 {
  margin-top: 0 !important;
  margin-right: 10px;
  width: 130px !important;
  height: 35px !important;
  align-self: flex-end;
}

.btn-view2 span {
  font-size: 14px !important;
}

@media (max-width: 767px) {
  .mka__cars-item_details-view2 {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .mka__car-item_details-preview--container_view2 {
    justify-content: space-between;
    width: 60vh;
  }
}