.dropzone {
    text-align: center;
    padding: 20px;
    border: 1px dashed #eeeeee;
    background-color: transparent;
    color: #bdbdbd;
    margin-bottom: 20px;
  }
  
  .accept {
    border-color: #107c10 !important;
  }
  
  .reject {
    border-color: #d83b01 !important;
  }
  
  #text {
    color: var(--color-grey);
    text-align: center;
  }

  #icon {
    color: var(--color-grey);
    height: 30px;
    width: 30px;
  }