.card_wrapper {
  text-align: center;
  height: auto;
  background: #00000033;
  color: #363636;
  z-index: 9;
  max-width: 100%;
}

.card_image-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-red);
  opacity: .8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.card_wrapper:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay ul {
  left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 99;
    padding: 0;
    margin: 0;
}

.overlay ul li {
  display: inline-block;
  margin: 0 3px;
}

.overlay ul li a {
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.overlay ul li a i{
  position: initial;
  margin-left: 5px;
}

.overlay ul li a:hover {
  background: #fff;
}

.overlay ul li a:hover > i {
  color: var(--color-red);
}

.card_list {
  position: relative;
  bottom: 0;
  height: auto;
  border: none;
  border-bottom: 1px solid #f1f1f1;
}

.card_inline-list {
  padding: 12px 0;
  margin-left: 5px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_info-upper {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.card_info-upper > li {
  list-style: none;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.card_info-lower > li {
  list-style: none;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.card_info-upper > li,
i {
  padding-right: 6px;
}

.card_info-lower > li,
i {
  padding-right: 6px;
}

.card_info-lower {
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.card_info-lower > li {
  list-style: none;
  color: #fff;
}

.card_car-content {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.card_separator {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card_separator::before {
  content: "";
  display: block;
  margin: auto;
  left: 50%;
  height: 1px;
  width: 30px;
  bottom: -10px;
  background: #000;
  margin-bottom: 4px;
}

.card_separator::after {
  width: 50px;
  display: block;
  margin: auto;
  content: "";
  height: 1px;
  background: #000;
  bottom: 0;
  left: 50%;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.card_wrapper:hover .card_separator::before {
  background: red;
  width: 50px;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.card_wrapper:hover .card_separator::after {
  background: red;
  width: 30px;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.card_car-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0;
  display: block;
}

.card_car-title h6:hover {
    color: #363636;
    transition: color 0.8s ease;
}

.card_car-price {
  background: #db2d2e;
  padding: 5px 0;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .card_wrapper {
    width: 210px;
  }
}

@media (max-width: 981px) {
  .card_wrapper {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .card_wrapper {
    width: 700px;
  }
}