.mka__card-wrapper {
  text-align: center;
  height: 27rem;
  background: #00000033;
  color: #363636;
  z-index: 9;
  max-width: 100%;
}

.mka__card_image-container {
  position: relative;
  width: 100%;
}

.mka__card-image-content {
  display: block;
  width: 100%;
  height: auto;
}

.mka__card-overlay-content {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-red);
  opacity: .8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.mka__card-wrapper:hover .mka__card-overlay-content {
  bottom: 0;
  height: 100%;
}

.mka__card-overlay-content ul {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  z-index: 99;
  padding: 0;
  margin: 0;
}

.mka__card-overlay-content ul li {
  display: inline-block;
  margin: 0 3px;
}

.mka__card-overlay-content ul li a {
  background: 0 0;
  border: 2px solid var(--color-white);
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.mka__card-overlay-content ul li a i {
  position: initial;
  margin-left: 5px;
}

.mka__card-overlay-content ul li a:hover {
  background: var(--color-white);
}

.mka__card-overlay-content ul li a:hover>i {
  color: var(--color-red);
}

.mka__card-car_specs {
  position: relative;
  bottom: 0;
  height: auto;
  border: none;
  border-bottom: 1px solid var(--color-white);
}

.mka__card-inline-car_specs {
  padding: 12px 0;
  margin-left: 5px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mka__card-car-info_upper {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.mka__card-car-info_upper>li {
  list-style: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 15px;
}

.mka__card-car-info_lower>li {
  list-style: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 15px;
}

.mka__card-car-info_upper>li,
i {
  padding-right: 6px;
}

.mka__card-car-info_lower>li,
i {
  padding-right: 6px;
}

.mka__card-car-info_lower {
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.mka__card-car-content {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 10px;
  display: block;
}

.mka__card-separator {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.mka__card-separator::before {
  content: "";
  display: block;
  margin: auto;
  left: 50%;
  height: 1px;
  width: 30px;
  bottom: -10px;
  background: var(--color-bg);
  margin-bottom: 4px;
}

.mka__card-separator::after {
  width: 50px;
  display: block;
  margin: auto;
  content: "";
  height: 1px;
  background: var(--color-bg);
  bottom: 0;
  left: 50%;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.mka__card-wrapper:hover .mka__card-separator::before {
  background: var(--color-red);
  width: 50px;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.mka__card-wrapper:hover .mka__card-separator::after {
  background: var(--color-red);
  width: 30px;
  transition: width 0.8s ease, background-color 0.8s ease;
}

.mka__card-car-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  margin: 20px 0;
  display: block;
}

.mka__card-car-title h6:hover {
  color: #363636;
  transition: color 0.8s ease;
}

.mka__card-car-price {
  background: var(--color-red);
  padding: 5px 0;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mka__loading-svg-container {
  height: 27rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

@media (max-width: 1200px) {
  .mka__card-wrapper {
    width: 210px;
  }
}

@media (max-width: 981px) {
  .mka__card-wrapper {
    width: 420px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .mka__card-wrapper {
    width: 700px;
  }
}