.mka__search-placeholder {
  text-align: left;
  font-family: var(--font-family);
}

.mka__individual-car-option {
  display: flex;
  gap: 15px;
}

.mka__individual-car-option  img {
  width: 30px;
  height: 40px;
}

.mka__search-icon {
  position: absolute;
  top: 13px;
  left: 251px;
}

@media (max-width: 992px) {
  .mka__search-icon {
    display: none;
  }
}