.mka__search-placeholder {
  text-align: left;
  font-family: var(--font-family);
}

.mka__search-container .mka__individual-car-option {
  margin: -45px 0 -45px 0;
}

.mka__individual-car-option {
  display: flex;
  gap: 13px;
}

.mka__individual-car-option span {
  line-height: 20px;
}

.mka__individual-car-option img {
  width: 30px;
  height: 40px;
}

.mka__search-icon {
  position: absolute;
  top: 16px;
  left: 88%;
  color: red;
}

@media (max-width: 1280px) {
  .mka__search-icon {
    display: none;
  }
}