.mka__content-contact {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mka__contact-infos-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
  }

  .mka__contact-infos-card {
    text-align: center;
    margin-bottom: 10px;
  }

  .mka__contact-infos-card p {
    font-size: 14px;
    line-height: 1.5;
  }

  .mka__contact-infos-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .mka__contact-infos-circle:hover {
    background-color: var(--color-red);
    transition: background-color 0.5s ease;
  }

  .mka__icon-color {
    color: var(--color-grey);
    height: 30px;
    width: 30px;
  }

  .mka__contact-infos-divider {
    height: 2px;
    width: 1.5rem;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .mka__google-api-contact {
    display: flex;
    margin-top: 6rem;
    margin-bottom: 3rem;
    justify-content: flex-start;
    gap: 60px;
  }

  .mka__opening-times-divider {
    height: 2px;
    width: 1.5rem;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mka__opening-times-contact {
    color: #fff;
    font-size: 14px;
    padding-top: 30px;
  }

  .mka__opening-times-text {
    display: flex;
    gap: 30px;
  }

  #mka__text-red {
    color: var(--color-red);
  }

  strong {
    font-weight: 500;
  }

  .mka__button-align {
    text-align: end;
  }

  .mka__google-api-container {
    width: 70%;
  }

  @media (max-width: 340px) {
    .mka__content-contact>h1 {
      font-size: 18px;
      line-height: 2;
    }
  }

  @media (min-width: 767px) {
    .mka__container-contact {
      width: 750px;
    }

    .mka__content-contact {
      width: 100%;
      float: left;
    }
  }

  @media (max-width: 767px) {
    .mka__contact-infos-container {
      flex-direction: column;
    }

    .mka__google-api-contact {
      flex-direction: column;
    }

    .mka__google-api-container {
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    .mka__container-contact {
      width: 970px;
    }

    .mka__content-contact {
      width: 100%;
      float: left;
    }
  }

  @media (min-width: 1200px) {
    .mka__container-contact {
      width: 1170px;
    }

    .mka__content-contact {
      width: 100%;
      float: left;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 999px) {
    .mka__container-contact {
      width: 96%;
    }
  }