.mka__header {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: #fff;

    padding: 0.5rem 8rem ;
}

.mka__header-list {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    
}

.mka__header-list > ul,li {
    color: #fff;
    list-style: none;
    display: flex;
    padding: 0 1em;
}

.mka__header-link {
    color: #fff;
}

.mka__header-link p > a:hover {
    transition: 0.9s;
    color: #db2d2e;
}
