 /* Navbar links */
.mka__navbar {
    display: flex;
    padding: 2rem;
}

.mka__navbar-links {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mka__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.mka__navbar-links_container p {
    color: #fff;
    font-size: 14px;
    line-height: 66px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-family);
    transition: padding .25s linear;
    padding: 0 0.5rem;
    cursor: pointer;
}

.mka__navbar-links_container p > a:link {
    color: #fff;
}

.mka__navbar-links_container p > a:hover {
    transition: 0.5s;
    color: #db2d2e;
}

.mka__navbar-links_container p > i:hover {
    transition: 0.5s;
    color: #db2d2e;
}

.mka__navbar-links_container p > a.active {
    color: #db2d2e;
}

.mka__align-items {
    display: flex;
    justify-content: center;
}

 /* Hamburger menu */
.mka__navbar-menu {
    display: none;
    position: relative;
}

.mka__navbar-menu_container-links {
    color: #fff;
    font-size: 14px;
    line-height: 66px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-family);
    transition: padding .25s linear;
    padding: 0 0.5rem;
    cursor: pointer;
    width: 100%;
}

 /* Search */
.mka__search-div {
    background: #0e0e0ed1;
    display: block;
    padding: 15px;
    width: 327px;
    z-index: 888;
    border-radius: 0;
    border-top: 5px solid #db2d2e;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 26rem;
    right: 0;
    top: 9rem;
}

input {
    border: 1px solid #fff;
    background: #0f1215;
    color: gray;
    padding: 12px;
    width: 290px;
}

.mka__search_column {
    display: flex;
    flex-direction: column;
}

 /* Media Queries */
@media (min-width: 992px){
    .mka__navbar-links {
        justify-content: center;
    }
}

@media (max-width: 992px){
    .mka__navbar-links_container {
        display: none;
    }

    .mka__navbar-menu {
        display: flex;
        float: right;
    }

    .mka__navbar-menu_container {
        background-color: #0f1215;
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px){
    .mka__navbar-links_container p {
        padding: 0 1rem;
    }
}

@media (max-width: 1200px){
    .mka__search-div {
        left: 21rem;
    }
}
