.mka__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 2rem  35rem;
}

.mka__navbar-links {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mka__navbar-links_container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mka__navbar-links_container p,
.mka__navbar-menu_container p {
    color: #fff;
    font-size: 14px;
    line-height: 66px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-family);

    padding: 0 1rem;
    cursor: pointer;
}

.mka__navbar-links_container p > a:hover {
    transition: 0.9s;
    color: #db2d2e;
}

.mka__navbar-links_container p > a:link {
    color: #fff;
}

.mka__navbar-menu {
    margin-left: 5rem;
    display: none;

    
    position: relative;
}

.mka__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: start;
    background-color: black;
    padding: 2rem 7rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 0.5rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0,0.2);
}

.mka__navbar-menu_container p {
    margin: 1rem 0;
}

@media screen and (max-width: 1050px){
    .mka__navbar-links_container {
        display: none;
    }

    .mka__navbar-menu {
        display: flex;
        float: right;
    }
}

@media screen and (max-width: 700px){
    .mka__navbar {
        padding: 2rem 4rem;
        margin-left: 16rem;
    }
}

@media screen and (max-width: 550px){
    .mka__navbar {
        padding: 2rem 1rem;
        margin-left: 18rem;
        
    } 

    .mka__navbar-menu_container {
        top: 20px;
       
    }
}