.mka__content-car-offers {
  text-align: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
  padding-bottom: 80px;
}

.mka-sorting-div__offers {
  display: flex;
}

.mka-responsive-item {
  display: flex;
  flex-wrap: wrap;
  border: none;
  gap: 40px;
}

.mka__filters-and-views {
  grid-area: header;
  border: 1px solid white;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mka__search-and-filters {
  grid-area: menu;
  min-width: 30vh;
}

.mka__list-of-cars {
  grid-area: main;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.mka__content-car-offers__main-grid {
  display: grid;
  gap: 30px;
}

.mka__default-layout-right__sidebar .main {
  grid-column-end: span 3;
}

.mka__default-layout-left__sidebar .main {
  grid-column-end: span 3;
}

.mka__full-width-layout-left__sidebar .main {
  grid-column-end: span 4;
}

.mka__full-width-layout-right__sidebar .main {
  grid-column-end: span 4;
}

.mka__default-layout-right__sidebar {
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'menu menu menu main main main';
}

.mka__default-layout-left__sidebar {
  grid-template-areas:
    'header header header header header header'
    'main main main menu menu menu'
    'main main main menu menu menu';
}

.mka__full-width-layout-right__sidebar {
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'menu menu main main main main';
}

.mka__full-width-layout-left__sidebar {
  grid-template-areas:
    'header header header header header header'
    'main main main main menu menu'
    'main main main main menu menu';
}

.mka__side-bar-divider {
  margin-bottom: 4rem;
}

.mka__side-bar-divider h6 {
  text-align: left;
}

.mka__sidebar-divider {
  margin-left: 0;
  width: 8%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2px;
  background-color: var(--color-red)
}

.mka__sidebar-detailed-search h6 {
  text-align: left;
}

#btn-txt {
  font-size: 14px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.left-alignment {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  margin-top: 40px;
}

.pagination li {
  border: 1.5px solid white;
  padding: 7.5px 15px;
  color: var(--color-grey);
  cursor: pointer;
}

.pagination li:hover {
  background-color: var(--color-red);
  border: 1.5px solid var(--color-red);
  color: white;
}

.active-pagination {
  background-color: var(--color-red);
  border: none !important;
  color: white !important;
}

.disabled {
  display: none;
}

.mka__loading-svg-positioning {
  margin: 350px 200px;
}

.mka__cars-flex {
  display: flex;
  flex-direction: column;
}

.mka__icons-container {
  display: flex;
  align-self: center;
}

.mka__individual-icon {
  width: 22px;
  height: 18px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.mka__icon-unselected {
  fill: var(--color-grey);
}

.mka__icon-selected {
  fill: var(--color-red);
}

.mka__siderbar-button {
  margin-top: 5px;
  max-width: 170px;
  max-height: 50px;
  margin-left: 0;
}

.mka__sidebar-button--and-filters_alignment {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mka__sorting-alignment {
  display: flex;
  margin-left: 0.5rem;
}

#mka__sorting-number {
  width: 50px;
}

.rc-slider {
  position: relative;
  height: 16px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--color-red) !important;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--color-red) !important;
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: var(--color-white) !important;
  height: 6px !important;
  border-radius: 6px;
}

.rc-slider-track {
  position: absolute;
  height: 40%;
  border-radius: 6px;
  background-color: var(--color-red) !important;
  opacity: 100% !important;
}

.rc-slider-handle {
  opacity: 1 !important;
  position: absolute;
  width: 18px !important;
  height: 18px !important;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 0% !important;
  background-color: white !important;
  touch-action: pan-x;
  border: solid 1px var(--color-red) !important
}

.rc-slider-handle-1 {
  transform: translateX(0) !important;

}

.rc-slider-handle-2 {
  transform: translateX(-100%) !important;

}

.mka__range-width {
  width: 15rem;
  margin-right: 10px;
}

.mka__range-alignment {
  flex-direction: column;
  padding: 10px;
}

.mka__range-text {
  display: flex;
  gap: 10px;
  color: white;
}

.mka__range-price {
  color: var(--color-red);
  font-weight: bold;
}

.mka__range-button {
  margin-top: 0 !important;
  display: inline-block;
  max-width: 100px;
  max-height: 40px;
}

.mka__range-btn-align {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

input[type="range"] {
  --minRangePercent: 0%;
  --maxRangePercent: 0%;
  height: .3rem;
  }

input[type="range"]:invalid {
  box-shadow: none;
}

.min-max-slider__label {
  padding: 15px 0;
  font-family: var(--font-family);
  font-size: 11pt;
  text-align: left;
}

.min-max-slider__label .min-max-slider__values {
  color: var(--color-red);
  font-weight: bold;
}

.min-max-slider__label label {
  color: white;
}

.min-max-slider {
  position: relative;
  width: 200px;
  text-align: center;
  margin-bottom: 30px;
}

input::focus {
  outline: none;
}

.min-max-slider > label {
  display: none;
}

.min-max-slider > input {
  cursor: pointer;
  position: absolute;
}

.min-max-slider > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
  background: transparent;
}
.min-max-slider > input.min {
  background-image: linear-gradient(
    to right,
    white 0%,
    white var(--minRangePercent),
    red var(--minRangePercent),
    red 100%
  );
}

.min-max-slider > input.max {
  background-image: linear-gradient(
    to right,
    red 0%,
    red var(--maxRangePercent),
    white var(--maxRangePercent),
    white 100%
  );
}

.min-max-slider > input::-webkit-slider-runnable-track,
.min-max-slider > input::-moz-range-track,
.min-max-slider > input::-ms-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: var(--color-red);
  border-radius: 8px;
  background-color: transparent;
  background-image: linear-gradient(var(--color-red), var(--color-red)),
    linear-gradient(var(--color-red), var(--color-red));
  background-size: var(--sx) 10px, calc(100% - var(--sx)) 4px;
  background-position: left center, right center;
  background-repeat: no-repeat;
}

.min-max-slider > input::focus {
  outline: none;
}

.min-max-slider > input.max::-moz-range-progress {
  background: var(--color-red);
  border-radius: 4px;
}

.min-max-slider > input.min::-moz-range-progress {
  height: 0.6em;
  background: var(--color-grey);
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width: 20px; 
  height: 20px; 
  background: white; 
  cursor: pointer; 
  border:  1px solid var(--color-red);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width: 20px; 
  height: 20px; 
  background: white; 
  cursor: pointer; 
  border:  1px solid var(--color-red);
}

.min-max-slider > input::-webkit-slider-runnable-track {
  cursor: pointer;
}

.mka__list-of-cars_fullwidth {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mka__slider-filtering {
  display: flex;
  gap: 130px;
}

.mka__filter-btn {
  margin-top: 0 !important;
  max-width: 100px;
  max-height: 40px;
}

.mka__individual-car__images {
  width: 37rem;
}

.mka__individual-car__carousel-images {
  width: 150px;
}

.mka__full-width-no-carsfound__container {
  min-width: 45rem;
}

@media (max-width: 767px) {
  .mka__range-btn-align {
      display: flex;
      gap: 25px;
  }
}

@media (max-width: 765px) {
  .mka__list-of-cars {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .mka__list-of-cars {
    grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  .mka__content-grid-offers {
    display: flex;
    flex-direction: column;
  }

  .mka__content-car-offers__main-grid {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .mka__container-car-offers {
    width: 750px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .mka__container-car-offers {
    width: 970px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }
}

@media (max-width: 992px) {
  .item2 {
    grid-area: menu;
    width: 100%;
  }

  .min-max-slider {
    width: 300px;
  }

  .mka__full-width-no-carsfound__container {
    min-width: 0rem;
  }
}

@media (min-width: 1200px) {
  .mka__container-car-offers {
    width: 1170px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }
}

@media (max-width: 1200px) {
  .item1 {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 590px) {
  .mka-responsive-item {
    gap: 20px;
  }
}