.mka__content-car-offers {
  text-align: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
  padding-bottom: 80px;
}

.mka-sorting-div__offers {
  display: flex;
}

.mka-responsive-item {
  display: flex;
  flex-wrap: wrap;
  border: none;
  gap: 40px;
}

.mka__filters-and-views {
  grid-area: header;
  border: 1px solid white;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mka__search-and-filters {
  grid-area: menu;
  width: 30vh;
}

.mka__list-of-cars {
  grid-area: main;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.mka__content-car-offers__main-grid {
  display: grid;
  gap: 30px;
}

.mka__default-layout-right__sidebar {
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'menu menu menu main main main';
}

.mka__default-layout-left__sidebar {
  grid-template-areas:
    'header header header header header header'
    'main main main menu menu menu'
    'main main main menu menu menu';
}

.mka__full-width-layout-right__sidebar {
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'menu menu main main main main';
}

.mka__full-width-layout-left__sidebar {
  grid-template-areas:
    'header header header header header header'
    'main main main main menu menu'
    'main main main main menu menu';
}

.mka__side-bar-divider {
  margin-bottom: 4rem;
}

.mka__side-bar-divider h6 {
  text-align: left;
}

.mka__sidebar-divider {
  margin-left: 0;
  width: 8%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2px;
  background-color: var(--color-red)
}

.mka__sidebar-detailed-search h6 {
  text-align: left;
}

#btn-txt {
  font-size: 14px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.left-alignment {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  margin-top: 40px;
}

.pagination li {
  border: 1.5px solid white;
  padding: 7.5px 15px;
  color: var(--color-grey);
  cursor: pointer;
}

.pagination li:hover {
  background-color: var(--color-red);
  border: 1.5px solid var(--color-red);
  color: white;
}

.active-pagination {
  background-color: var(--color-red);
  border: none !important;
  color: white !important;
}

.disabled {
  display: none;
}

.mka__loading-svg-positioning {
  margin: 350px 0;
}

.mka__cars-flex {
  display: flex;
  flex-direction: column;
}

.mka__icons-container {
  display: flex;
  align-self: center;
}

.mka__individual-icon {
  width: 22px;
  height: 18px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.mka__icon-unselected {
  fill: var(--color-grey);
}

.mka__icon-selected {
  fill: var(--color-red);
}

@media (max-width: 765px) {
  .mka__list-of-cars {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .mka__list-of-cars {
    grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  .mka__content-grid-offers {
    display: flex;
    flex-direction: column;
  }

  .mka__content-car-offers__main-grid {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .mka__container-car-offers {
    width: 750px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }

  .mka__cars-and-pagination_to-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .mka__container-car-offers {
    width: 970px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }
}

@media (max-width: 992px) {
  .item2 {
    grid-area: menu;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .mka__container-car-offers {
    width: 1170px;
  }

  .mka__content-car-offers {
    width: 100%;
    float: left;
  }
}

@media (max-width: 1200px) {
  .item1 {
    flex-direction: column;
    padding: 20px;
  }
}

@media (max-width: 590px) {
  .mka-responsive-item {
    gap: 20px;
  }
}