.select-placeholder {
  text-align: left;
  font-family: var(--font-family);
}

.car-option {
  display: flex;
  gap: 15px;
}

.car-option img {
  width: 30px;
  height: 40px;
}

.global-class-name {
  position: absolute;
  top: 14px;
  left: 255px;
}