.cars-item_wrapper {
    text-align: center;
    height: auto;
    z-index: 9;
    width: 100%;
  }
  
  .cars-item_image-container {
    position: relative;
    width: 100%;
  }

  .cars-item_image {
    width: inherit;
  }
  
  .cars-item_list {
    position: relative;
    bottom: 0;
    height: auto;
    border: none;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .cars-item_inline-list {
    padding: 12px 0;
    margin-left: 5px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cars-item_info-upper {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cars-item_info-upper > li {
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }
  
  .cars-item_info-lower > li {
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }
  
  .cars-item_info-upper > li,
  i {
    padding-right: 6px;
  }
  
  .cars-item_info-lower > li,
  i {
    padding-right: 6px;
  }
  
  .cars-item_info-lower {
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cars-item_info-lower > li {
    list-style: none;
    color: #fff;
  }
  
  .cars-item_car-content {
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }
  
  .cars-item_separator {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cars-item_separator::before {
    content: "";
    display: block;
    margin: auto;
    left: 50%;
    height: 1px;
    width: 30px;
    bottom: -10px;
    background: #000;
    transition: width 0.8s ease, background-color 0.8s ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
    margin-bottom: 4px;
  }
  
  .cars-item_separator::after {
    width: 50px;
    display: block;
    margin: auto;
    content: "";
    height: 1px;
    background: #000;
    bottom: 0;
    left: 50%;
    transition: width 0.8s ease, background-color 0.8s ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
  }
  
  .cars-item_car-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
    display: block;
  }
  
  .cars-item_car-price {
    background: #db2d2e;
    padding: 5px 0;
    margin-top: 20px;
  }
  
  .cars-item_car-text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
  
  .cars-item_wrapper:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .cars-item_wrapper:hover .cars-item_separator::before {
    background: red;
    width: 50px;
    transition: width 0.8s ease, background-color 0.8s ease;
  }
  
  .cars-item_wrapper:hover .cars-item_separator::after {
    background: red;
    width: 30px;
    transition: width 0.8s ease, background-color 0.8s ease;
  }

  .overlay-bottom-slide {
    position: absolute;     
    opacity:0;
    bottom:0;
    right:0;
    top:100%;
    height:0;
    width:100%;
    overflow: hidden;
    transition: .5s ease;
    background-color: black;
    border-bottom: 1px solid white;
  }
  
  .cars-item_wrapper:hover .cars-item_image {
    opacity: 0.7;
  }
  
  .cars-item_wrapper:hover .overlay-bottom-slide {
    top: 80%;
    height: 20%;
    opacity:0.5;
  }

  .overlay-bottom-container {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    gap: 5px;
  }

  .overlay-bottom-container i {
    color: #fff;
  }

  .overlay-bottom-flex {
    display: flex;
  }

  .cars-item_car-title:hover h6 {
    color: #363636;
    transition: color 0.8s ease;
  }