.mka__title-price-carpage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mka__title-price-carpage h5 {
    color: var(--color-red);
}

.mka__title-price-carpage h4 {
    text-align: left;
}

.mka__email-filed-carpage {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 15px;
}

.mka__comparison-carpage {
    display: flex;
    gap: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.mka__comparison-carpage i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.mka__comparison-carpage i p {
    margin-top: 5px;
}

.mka__comparison-carpage i:hover {
    background-color: rgba(121, 120, 120, 0.133);
    transition: background-color 0.2s ease;
}

.mka__comparison-carpage i svg {
    margin-left: 5px;
}

.mka__description-section__carpage {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.short-carpage {
    width: 20px;
    margin: 20px 0;
    height: 2px;
    margin-left: 0;
}

.mka__description-carpage {
    width: 100%;
}

.mka__description-carpage h6 {
    text-align: start;
}

.mka__list-carpage {
    display: flex;
    flex-direction: column;
}

.mka__list-carpage li {
    border-bottom: 1px solid white;
}

.mka__list-content__carpage {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.mka__list-content__carpage strong{
    text-align: center;
}

.mka__strong-alignment__carpage strong {
    text-align: center;
}

.mka__gallery-carpage {
    min-width: 0;
    width: 90rem;
    height: 20rem;
}

.mka__gallery-carpage .swiper {
    height: 7rem;
}

.mka__gallery-carpage .mySwiper2 {
    height: 22rem;
  }

.mka__description-tabs__carpage {
    margin-top: 60px;
    text-align: left;
}

.mka__description-tab--underline__carpage {
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    cursor: pointer;
}

.mka__list-alignment__carpage {
    display: flex;
}

.inner-div {
    justify-content: space-between;
    width: 70%;
}