.mka__search-divider {
    background-color: var(--color-red);
    height: 3px;
    width: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.fa-search-car-offers {
    position: absolute;
    top: 21.7rem;
    left: 17.5rem;
    color: #db2d2e;
    cursor: pointer;
    font-size: 15px;
  }

  .dropbtn {
    background-color: rgb(19, 19, 19);
    color: var(--color-grey);
    text-align: start;
    padding-left: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fff ;
    min-width: 18rem;
    height: 2.2rem;
  }