

.mka__content-impression {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
}

.mka__content-impression>p {
  margin: 0 0 10px;
  color: #fff;
  line-height: 22px;
}

.mka__content-impression>h4 {
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .mka__content-impression {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .mka__content-impression {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .mka__content-impression {
    width: 100%;
    float: left;
  }
}