.mka__div-icon {
    display: flex;
    align-self: center;
}

.mka__span-icon {
    width: 22px;
    height: 18px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}

.cls-1 {
    fill: #949799;
}

.cls-2 {
    fill: var(--color-red);
}