@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: #db2d2e;
}

html::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

.mka__header-background-img {
  position: relative;
  z-index: 1;
  height: 470px;
  background-image: url(C:\Users\pk\Desktop\Dokumenti\Programiranje\MKautomobile\src\assets\dark-min.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.mka__title-wrapper {
  margin-top: 13.5rem;
}

.mka__logo-img {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mka__logo-size {
  width: 28%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 2em;
  right: 0;
  text-align: center;
}

.mka__responsive-svg {
  width: 100%;
  height: auto;
}

.mka__left-alignment {
  text-align: left;
}

.mka__container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden !important;
}

.form {
  margin-top: 5em;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em 4em;
}

.form-field {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  height: 38px;
  width: 100%;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 10px;
}

select {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: none;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  height: 38px;
  width: 100%;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form-button {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1em;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button:hover {
  background-color: red;
}

.center {
  width: 180px;
  height: 60px;
  position: relative;
  grid-column-end: 4;
  justify-self: end;
}

.btn {
  margin-top: 25px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #FFF;
  outline: none;
  transition: 0.5s ease-in-out;
}

.btn>svg {
  margin-top: 25px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--color-red);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: transparent;
  border-color: var(--color-red);
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

.mka__input {
  border: 1px solid #fff;
  background: #0f1215;
  color: gray;
  width: 300px;
  height: 2.5rem;
  margin-bottom: 0 !important;
  padding-left: 15px;
}

.mka__input:focus {
  border-color: #db2d2e !important;
}

.longer {
  width: 37.5rem;
}

.shorter {
  width: 100px;
  height: 40px;
}

.larger {
  height: 100px;
  resize: vertical;
  font-family: var(--font-family);
}

.mka__button-carpage {
  margin-top: 0px;
  width: 150px;
  height: 45px;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 1px dashed #eeeeee;
  background-color: transparent;
  color: #bdbdbd;
  margin-bottom: 20px;
}

.accept {
  border-color: #107c10 !important;
}

.reject {
  border-color: #d83b01 !important;
}

#text {
  color: var(--color-grey);
  text-align: center;
}

.mka__wrapper {
  background-image: url(https://mkautomobile.at/wp-content/uploads/2021/04/dark.jpg);
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.gallery {
  padding-top: 3rem;
  padding-bottom: 5rem;
  position: initial;
  background-size: cover;
}

.car-offers {
  height: 100%;
  background-size: auto;
}

.carpage {
  background-size: auto;
  height: auto;
}

.purchase {
  min-height: 80rem;
  background-size: cover;
  padding-bottom: 30px;
}

.contact {
  height: 100%;
  background-size: cover;
}

.copyright {
  height: 100%;
  background-size: contain;
  min-height: 67rem;
}

.home-list {
  height: 100%;
  background-size: auto;
  min-height: 65rem;
}

.error {
  background-size: cover;
  height: auto;
}

.impression {
  height: 100%;
  background-size: contain;
  min-height: 38rem;
}

.financing {
  height: 100%;
  background-size: cover;
  min-height: 55rem;
}

.sorting-select {
  position: relative;
  display: inline-block;
}

.sorting-select select {
  display: block;
  width: 150px;
  height: 2.5rem;
  background: #0f1215;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
  padding: 0 20px 0 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  color: #949799;
}

.sorting-select::after {
  content: '⌄';
  border-top-color: rgb(255, 255, 255);
  color: #949799;
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

option {
  color: #949799;
  width: 96%;
  left: 2%;
  top: 35%;
}
.css-qc6sy-singleValue {
  color: #949799 !important;
}

.mka__home-slider {
  aspect-ratio: 0 !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: visible;
}

@media (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 140px;
    height: 50px;
  }

  .mka__container h1 {
    font-size: 28px;
    text-align: center;
  }

  .shorter {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 992px) {
  .mka__container h1 {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .mka__container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .mka__container {
    width: 1170px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .mka__container {
    width: 96%;
  }
}