@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-family: Roboto, sans-serif;

    --color-bg: #000000;
    --color-white: #fff;
    --color-grey: #abb8c3;
    --color-red: #cf2e2e;
}

