@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100%;
    font-weight: 400;
    text-transform: none;
    

    --color-bg: #000000;
    --color-white: #fff;
    --color-grey: #abb8c3;
    --color-red: #cf2e2e;

    --font-open-sans: Open Sans, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--color-white);
  }

  p {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: var(--color-white)
  }

  li {
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }

